.body{
    background-color: rgb(12, 12, 14);
    height: 280px;
    width: 100%;
}
.text{
    display: flex;
    align-items: center;
    margin-left: 400px;
    margin-bottom: 0px;
   
}
.text h2{
    color: white;
}
.text h3{
    color: green;
    margin-left: 10px;
    font-size: 25px;
}
.contact{
    color: white;
   margin-left: 500px;
  
}
.line{
    color: grey;
    margin-top: 30px;
    border-bottom: 1px;
}
.lastText{
  
    color: white;
    display: flex;
    padding: 30px 50px;
    justify-content: space-between;
}