.body{
    background-image: url("/static/img/nairabox banner-01.png");
    height: 500px;
    width: 100%;
    background-size: cover;
    
}
.details{
    display: flex;
    padding: 20px 120px;
    align-items: center;
    

}
.card{
    height: 20px;
   
  transition: 0.3s;
  border-radius: 2px;
  border: 1px solid rgb(156, 146, 146) (180, 158, 158);
  background: white;
  margin: 10px 60px;
}
.details ul{
    display: flex;
    list-style-type: none;

}
.details ul li{
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    font-size: 18px;
}
.text{
    left: 800px;
    align-items: center;
    margin-left: 100px;
    margin-top: 100px;
    font-weight: bold;
    font-size: 20px;
    
}
@media only screen and (max-width: 768px){
    .body{
        width: 100%;
    }
    .card{
        padding: 10px 30px;
    }
    .details ul,
    .images {
        display: none;
    }
    .text{
        margin: 0;
        padding: 20% 5%;
    }
}